@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 42 100% 97%;
		--foreground: 27 56% 34%;

		--muted: 40 54% 92%;
		--muted-foreground: 30 36% 45%;

		--popover: 42 100% 97%;
		--popover-foreground: 27 56% 34%;

		--card: 42 100% 97%;
		--card-foreground: 27 56% 34%;

		--border: 38 36% 82%;
		--input: 38 36% 82%;

		--primary: 30 50% 54%;
		--primary-foreground: 42 100% 97%;

		--secondary: 40 54% 92%;
		--secondary-foreground: 27 56% 34%;

		--accent: 343 62% 39%;
		--accent-foreground: 42 100% 97%;

		--destructive: 6 100% 44%;
		--destructive-foreground: 30 50% 54%;

		--ring: 35 60% 67%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 27 56% 15%;
		--foreground: 27 56% 34%;

		--muted: 27 56% 34%;
		--muted-foreground: 30 36% 45%;

		--popover: 27 56% 15%;
		--popover-foreground: 35 60% 67%;

		--card: 27 56% 15%;
		--card-foreground: 27 56% 34%;

		--border: 27 56% 15%;
		--input: 27 56% 15%;

		--primary: 30 50% 54%;
		--primary-foreground: 42 100% 3%;

		--secondary: 27 56% 34%;
		--secondary-foreground: 30 50% 54%;

		--accent: 27 56% 34%;
		--accent-foreground: 30 50% 54%;

		--destructive: 6 100% 44%;
		--destructive-foreground: 30 50% 54%;

		--ring: 27 56% 15%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}
